

/* Set anatomyListDiv width to max child width */
.anatomyListDiv, .subanatomyListDiv, .rowListDiv, .checkBoxDiv {
    display: inline-block;
    float: left;
}

.container {
    width: 900px;
    float: right;
}

.anatomyBtn {
    display: block;
    width: 100%;
    text-align: left;
    white-space: normal;
}

.subanatomyBtn {
    display: block;
    width: 100%;
    text-align: left;
    white-space: normal;
}

.menuRight {
    float: right;
}

.btnClicked {
    background-color:#C0C0C0;
}